@font-face {
  font-family: "roboto";
  src: url("./assets/Fonts/Roboto-Regular.ttf");
}
@font-face {
  font-family: "roboto-thin";
  src: url("./assets/Fonts/Roboto-Thin.ttf");
}
@font-face {
  font-family: "roboto-thick";
  src: url("./assets/Fonts/Roboto-Black.ttf");
}
@font-face {
  font-family: "roboto-light";
  src: url("./assets/Fonts/Roboto-Light.ttf");
}

* {
  user-select: none;
  color: white;
  transition: 0.2s ease;
}

button {
  cursor: pointer;
  border-radius: 20px;
  background: #ffffff17;
  padding: 7px;
  font-family: roboto;
  margin-top: 10px;
  width: 100%;
  border: none;
  transition: 0.2s ease;
}
button:hover {
  border-radius: 10px;
  background: #0062ff;
}
.vs-notifications {
  text-align: center !important;
}
